<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/style/main.css}" />
</head>
<body>
<div class="grid">
    <div class="s1"><a th:href = "@{/rfl}" ></a></div>
    <div class="s2"><a th:href = "@{/bundesliga}" ></a></div>
    <div class="s3"><a th:href = "@{/apl}" ></a></div>
    <div class="s4"><a th:href = "@{/liga1}" ></a></div></a>
    <div class="s5"><a th:href = "@{/laliga}" ></a></div></a>
    <div class="s6"><a th:href = "@{/seriaA}" ></a></div></a>
</div>
</body>
</html>